---
import TeamCard from '../utils/TeamCard.astro';
---

<section class="mb-section">
  <header class="mb-8 grid gap-4 md:grid-cols-2 md:gap-8">
    <h2 class="text-title">meet our people</h2>
    <p class="text-sm opacity-50 md:text-base">
      meet the best expert talents from our team who are ready to be your partners
    </p>
  </header>
  <section class="h-[35rem] grid gap-4 md:h-[40rem]">
    <TeamCard name="Mustafa Yücel" role="manager" alt="some people" src="images/team/mustafa.jpg" imageMode="contain" />
  </section>
  <section class="h-[35rem] grid gap-4 md:h-[30rem] md:grid-cols-2 lg:grid-cols-4">
    <TeamCard name="Oytun Emre Yücel" role="digital" alt="oytun emre yucel" src="images/team/oytun.jpg" />
    <TeamCard name="Ali Kazım Dalkılıç" role="sales" alt="some people" src="images/team/ali-kurteks.jpeg" />
    <TeamCard name="Buğra Güngör" role="after sales" alt="some people" src="images/team/unknown.jpg" />
    <TeamCard name="Ahmet Tuncel" role="sales" alt="some people" src="images/team/unknown.jpg" />
  </section>
</section>
